<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body> <header>
    <h2><a href="/">Our Wonderful app</a></h2>
    <nav>
    <h2><a href="/login">Log In</a></h2></nav>
</header>

<main>
    <form action="/register" method="POST">
      <% errors.forEach(error => { %>
        <p class="notice"><%= error %></p>
    <% }) %>  
<fieldset>
    <legend>Create Account</legend>
    <label for="username"><small>Username</small></label>
    <input type="text" id="username" name="username" autocomplete="off">
    <label for="password"><small>password</small></label>
    <input type="text" id="password" name="password" autocomplete="off">
    <br />
    <button>Sign Up</button>
</fieldset>
</form>
</main>
<footer>
    <small>&copy;Our Wonderful App by KURIA</small>
</footer>
</body>
</html>