<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body> <header>
    <h2><a href="/">Our Wonderful app</a></h2>
    <nav>
    <h2><a href="/login">Log In</a></h2></nav>
</header>
<main>
    <h3>This is our Login page</h3>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Obcaecati et sequi tenetur quibusdam, cumque quisquam nostrum repellendus, consequuntur laboriosam quam commodi perspiciatis incidunt culpa at suscipit facere ut fugit adipisci.</p>
</main>
<footer>
    <small>&copy;Our Wonderful App by KURIA</small>
</footer>
</body>
</html>