<!DOCTYPE html>
<html>
<head>
  <title>Home</title>
</head>
<body>

  <h1>Welcome to the App</h1>

  <% if (errors.length) { %>
    <ul style="color: red;">
      <% errors.forEach(function(error) { %>
        <li><%= error %></li>
      <% }) %>
    </ul>
  <% } %>

  <form action="/register" method="POST">
    <input type="text" name="username" placeholder="Username" required>
    <input type="password" name="password" placeholder="Password" required>
    <button type="submit">Register</button>
  </form>

</body>
</html>
